<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
	<meta charset="UTF-8">
	<title>todo</title>
	<link href="style.css" rel="stylesheet" />
	<link href="flip.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<script src="js/hammer.js"></script>
	<script src="js/controller.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div ng-controller="todoController">
		<div class="bar">
			<h1>GSD</h1>
			<!-- <button>+</button> -->
			<!-- <button ng-click="toggle.state3 =!toggle.state3">+</button> -->
		</div>
			<div class="head visible">
				<!-- <div class="head" ng-class="{'visible' : toggle.state3}"> -->
			<form name="frm" ng-submit="addTodo()">
				<input type="text" placeholder="Task" name="newToDo" ng-model="newToDo" required />
				<input type="text" placeholder="Details" name="newDetail" ng-model="newDetail" />
				<div class="time-select">
				<select name="month" ng-model="newMonth" required>
					<option value="" disabled selected>Month</option>
	  				<option>Jan</option>
					<option>Feb</option>
					<option>Mar</option>
					<option>Apr</option>
					<option>May</option>
					<option>Jun</option>
					<option>Jul</option>
					<option>Aug</option>
					<option>Sep</option>
					<option>Oct</option>
					<option>Nov</option>
					<option>Dec</option>
				</select>
				<select name="day" ng-model="newDay" required>
					<option value="" disabled selected>Day</option>
					<option>01</option>
					<option>02</option>
					<option>03</option>
					<option>04</option>
					<option>05</option>
					<option>06</option>
					<option>07</option>
					<option>08</option>
					<option>09</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
					<option>13</option>
					<option>14</option>
					<option>15</option>
					<option>16</option>
					<option>17</option>
					<option>18</option>
					<option>19</option>
					<option>20</option>
					<option>21</option>
					<option>22</option>
					<option>23</option>
					<option>24</option>
					<option>25</option>
					<option>26</option>
					<option>27</option>
					<option>28</option>
					<option>29</option>
					<option>30</option>
					<option>31</option>
				</select>
			</div>
			<div class="head-buttons">
				<button class="top-button" ng-disabled="frm.$invalid">Add</button>
				<button class="top-button" ng-click="clearCompleted()">Clear Done</button>
			</div>
				<!-- <button class="top-button" ng-click="showFlagged()">Flagged</button> -->
			</form>
			
			</div>
	<!-- <h1>Tasks</h1> -->
	<ul id="list">
		<li class="todo" ng-repeat="(i, todo) in todos | orderBy:orderProp" ng-class="{'done':todo.done}">
			<div class="options" ng-class="{'options-wide' : toggle.state}">
				<div class="mark-done">
						<div class="checkboxFive">
		  				<input type="checkbox" ng-model="todo.done" id="checkboxFiveInput-{{i}}" name="checkboxFiveInput" />
			  			<label for="checkboxFiveInput-{{i}}"></label>
	  				</div>
					<!-- <input type="checkbox" ng-model="todo.done" id="checkboxFiveInput-{{i}}" name="checkboxFiveInput" /> -->
				</div>
				<div class="trash" ng-click="delete($index)">
					<img src="img/trash.png">
				</div>
			</div>	
			<div class="todo-body" ng-swipe-right="toggle.state = !toggle.state" ng-swipe-left="toggle.state = !toggle.state" ng-class="{'todo-body-options' : toggle.state}">
				<div class="top-todo" >
					<textarea ng-class="{'done':todo.done}" class="main-input" type='text' ng-class"{'done':todo.done}" ng-model="todo.title"></textarea>
				</div>
			</div>	
			<div class="todo-check" ng-swipe-right="toggle.state1 = !toggle.state1" ng-swipe-left="toggle.state1 = !toggle.state1" ng-class="{'wide' : toggle.state1, 'todo-check-flagged':toggle.state2}">
				<!-- <p class="time" ng-class="{'done':todo.done}">Due: {{todo.hour}}{{todo.minute}}</p> -->
				<div class="time-div">
					<p class="time month" ng-class="{'done':todo.done}">{{todo.month}}</p>
					<p class="time day" ng-class="{'done':todo.done}">{{todo.day}}</p>
				</div>
				<!-- <p class="detail" ng-class="{'done':todo.done}">{{todo.detail}}</p> -->
				<textarea ng-class="{'done':todo.done}" class="detail" type='text' ng-class"{'done':todo.done}" ng-model="todo.detail"></textarea>

				<div class="flag"  ng-class="{'flagged':toggle.state2}" ng-model="todo.flagged" >
					<label for="flagged-{{i}}" ng-click="toggle.state2 =!toggle.state2">
						<img src="img/flag.png"/>
					</label>				
					<!-- <input type="checkbox" ng-model="todo.flagged" id="flagged-{{i}}" name="flagged" /> -->
					
				</div>
			</div>
			</div>
		</li>
	</ul>
	</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>

<script>
angular.module('ToDo',['ngAnimate','ngTouch']).
controller('todoController',['$scope',function($scope){
	$scope.todos = [
		{'title':'Swipe here or swipe blue.', 'done':false, 'detail':'Click the flag to highlight!', 'month':'Jun','day':'23','hour':'00:','minute':'00'}

	];

	// $scope.orderProp='month';

	$scope.addTodo = function (){
		$scope.todos.push({'title':$scope.newToDo,'detail':$scope.newDetail,'hour':$scope.newHour,'minute':$scope.newMinute,'day':$scope.newDay,'month':$scope.newMonth,'done':false})
		$scope.newToDo = ""
			$scope.newDetail = ""
			$scope.newHour = ""
			$scope.newMinute = ""
			$scope.newMonth = ""
			$scope.newDay = ""
	}	

	$scope.clearCompleted = function (){
		$scope.todos = $scope.todos.filter(function(item) {
			return !item.done
		})
	}

	$scope.delete = function  (index) {
		$scope.todos.splice(index, 1);
  };

	// $scope.showFlagged = function (){
	// 	$scope.todos = $scope.todos.filter(function(item) {
	// 		return item.flagged
	// 	})
	// }
	
	// $scope.orderProp = function() {
 //      $scope.orderProp = 'title';
 //    }
    

	}])

 

</script>

</body>
</html>