html {
	padding: 2em 0;
}

body {
	background: #E3E3E3;
	margin:0;
}

.bar {
	height:50px;
	width:100%;
	/*background: #38a4dc;*/
	text-align: right;
	position:fixed;
	top:0;
	z-index:2;
	/*background: #2a7ca0;*/
	background: #38a4dc;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

}

.bar button {
	/*margin: 10px;*/
	margin:0;
	height: 50px;
	width: 50px;
	border-radius:0px;
	font-size:20px;
	line-height: 0;
	text-align:center;
	padding:0;
	opacity:0.3;
	transition:0.3s;
}
.bar button:active {
	opacity:1;
	transition:0.3s;
}

.head {
	padding: 0 5%;
	margin: 1em auto;
	/* display: none; */
	/* background: #0080C4; */
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
	padding-bottom: 1em;
	height:0px;
	/*display:none;*/
	opacity:0;
	transition:0.3s;
}

.head input {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
border-radius: 2px;
}

.head-buttons {
	text-align:center;
	-webkit-border-radius: 2px;
border-radius: 2px;
}

.visible {
	display:block;
	height:auto;
	transition:0.3s;
	opacity:1;
	margin-bottom: 1em;
	padding: 2em 5%;
	padding-bottom: 1em;
}

.add-visible {
	/*margin-top:3em;*/
}

.head input {
	width: 90%;
	margin: 0;
	margin-bottom: 1em;
	padding: 5%;
	font-size: 16px;
}
}

.todo {
	text-decoration: none;
	list-style:none;
}

h1 {
	font-family: brandon medium;
	font-size: 24px;	
	text-align: center;
	width:100%;
	display:block;
	color:white;
	letter-spacing: 10px;
	text-transform: uppercase;
	line-height: 1;
}

p {
	margin:0;
	padding: 0 10px;
}

ul {
	padding: 0;
	margin-top: 0em;
}


li {
font-family: Brandon;
font-weight: 400;
font-size: 16px;
min-height: 80px;
width: 100%;
position: relative;
/* background: #d5d5d5; */
background: white;
margin: 3px 0;
float: left;
/*padding: 1em 5%;*/
box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
 border-radius: 2px; 
text-transform: capitalize;
word-wrap: break-word;
transition: 0.3s;
background-clip: padding-box;
list-style: none;
}

/*li:hover {
	transform: scale(1.03);
	transition: 0.3s;
}*/

input {
	margin: auto 2.5%;
	margin-right: 0;
	border:none;
	font-family: Brandon;
	text-transform: capitalize;	
}

textarea {
	width:100%;
	resize:none;
}

button {
	margin: auto 2.5%;
	margin-top: 20px;
	border: none;
	background: white;
	/*border-radius: 10px;*/
	font-family: brandon medium;
	transition:0.3s;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

button:disabled {
	opacity: 0.4;
	transition:0.3s;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.top-button {
	height: 3em;
	font-size: 14px;
	width: 25%;
	border-radius: 0;
	/*float: left;*/
	margin-bottom:0;
	margin-top: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
	/*background: #38a4dc;
	color:white;*/
}

p {
	/*letter-spacing: 0.15em;*/
}

.time-select {
	/*margin:auto 2.5%;*/
	margin: 0;
	padding: 5%;
	margin-bottom: 1em;
	background: white;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.time-select select {
	font-size: 16px;
	text-align: left;
	opacity: 0.4;
	font-family: brandon medium;

}


select {
	display: inline-block;
	outline: 0 !important;
	background: transparent;
	font-size: 16px;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
}

.main {
	padding-bottom:0.5em;
	font-weight: Medium;
}

.main-input {
border: none;
font-size: 18px;
max-width: 90%;
word-wrap: break-word;
margin: 0;
padding: 0 20px;
display: block;
font-family: Brandon;
color: gray;
/*letter-spacing: 2px;*/
/* border-bottom: solid 1px gray; */
}

textarea:focus, input:focus, select:focus, button:focus{
    outline: 0;
}

.time {
font-size: 21px;
margin: 0.5em auto;
color: white;
text-transform: uppercase;
text-align: center;
line-height: 18px;
}

.time-box {
	text-align:center;
}

.wide .month {
	margin-left:20px;
	margin-right:0;
	padding:0;
}

.wide .day {
	margin-left: 0px;
	clear:right;
	padding:0;
}

.detail {
margin: 0.5em auto;
display: none;
background: none;
border: none;
font-size: 18px;
max-width: 75%;
word-wrap: break-word;
margin: 0;
padding: 0px;
font-family: brandon;
color: white;
margin-top: 18px;
}

/*.pullout {
	background: white;
	bottom: -30px;
	position: absolute;
	padding:1em;
	width:100%;

}*/

.checkbox {
	margin:0;
	position: absolute;
	/*margin-left: 38%;*/
	right: 10px;
}

.done {
	text-decoration: line-through;
	color: #ccc;
	opacity:0.5;
	transition: 0.3s;
}

.done .todo-check {
	background:#71b576;
}

.checkboxFive {
	width: 100%;
/* margin: 20px 100px; */
	position: relative;
	/*float: right;*/
	display: block;
}

.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
  	left: 0;
	/*background: #eee;*/
	transition: 0.3s;
	/*border:1px solid #ddd;*/
}

.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 15px;
	height: 8px;
	background: transparent;
	top: 11px;
	left: 10px;
	border: 3px solid white;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transition: 0.3s;
}

.checkboxFive label:hover::after {
/*	opacity: 0.5;
	transition: 0.1s;*/
}

.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;

}

.checkboxFive input {
	margin: auto;
	width: 20px;
	display: none;
}

.checkbox {

}

.todo-body {
	width:70%;
	float:left;
	display:inline-block;
	margin:0;
	/*padding: 1em;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-left: solid #A7A7A8 5px;
	transition: 0.3s;
}

.top-todo {
	 /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
	max-height: 80px;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.todo-check {
	width: 30%;
	float: left;
	display: inline-block;
	margin: 0;
	/*background: #be1e2d;*/
	background: #38a4dc;
	height: 80px;
	padding: 0em 5%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: 0.3s;
	position: absolute;
	right:0;
	padding-top:7px;
}

.todo-check input {
	position:absolute;
}

.flag {
	display:none;
	opacity:0;
	transition: 0.3s;
}

.flag input {
	/*display:none;*/
}

.flag label {}

.flag img {
	width: 20px;
	height: 20px;
	margin: 30px 11px;
	opacity: 0.5;
	transition: 0.3s;
}

.wide {
	width: 99%;
	transition: 0.3s;
	position: absolute;
	right:0;
}

.wide .time {
font-size: 12px;
opacity: 0.8;
transition: 0.3s;
float: left;
margin: 0;
padding-right: 3px;

}

.wide .detail {
	display: block;
	-webkit-animation: enter 0.5s;
}

.wide .flag {
	display: block;
	position: absolute;
	opacity: 1;
	transition: 0.3s;
	width: 10%;
	height: 100%;
	right: 0px;
	top: 0;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0 10px;
}

.flagged img{
	opacity:1;
	transition: 0.3s;
}
.todo-check-flagged {
	background:#e8ab5b;
}

.options {
	width: 0%;
	height: 80px;
	float: left;
	background: gray;
	transition: 0.3s;
}

.options-wide {
	width:10%;
	transition: 0.3s;
}

.mark-done {
	height:	50%;
	background: #71b576;
}

.mark-done .checkbox{

}

.trash {
	height: 50%;
	background: #be1e2d;
}

.trash img:active {
	opacity: 1.0;
}

.trash img {
	width: 25px;
	height: 25px;
	margin: 6px;
	opacity:0.5;
}

.todo-body-options{
	width: 40%;
	transition: 0.3s;
	position: absolute;
	border-left: 0px;
	/*right:0;*/
}

.todo-body-options .options{
	width: 10%;
	transition: 0.3s;
}

/*//////Fonts///////*/
@font-face {
    font-family: Brandon Medium;
    src: url(fonts/Brandon_med.otf);
}

@font-face {
    font-family: Brandon;
    src: url(fonts/Brandon_reg.otf);
}


/*///////Animations///////*/

.ng-enter {	
	transition: 0.3s;
	opacity:0;
	transform: scale(0);
	/*width: 0%;*/
	/*margin-left: -90%;*/
	/*transition-timing-function: ease-in;*/
}

.ng-enter-active {
	opacity:1;
	/*width: 30%;*/
	transform: scale(1);
	margin-left:0;

}
	
.ng-leave {
	transition: 0.3s;
	opacity:1;
}

.ng-leave-active {
	opacity: 0;
}

@-webkit-keyframes enter {
  0%   { opacity: 0;}
  40%   { opacity: 0;}
  100% { opacity: 1.0; }
}

@-webkit-keyframes fly-in {
  0%   { margin-left: -10%;}
  100% { margin-left: 0%;}
}